<div class="services-area pt-150 pb-125">
    <div class="container">
        <div class="section-title mb-25 text-center ml-auto mr-auto">
            <span class="sub-title text-white mb-0 fw-medium d-inline-block">
                Our Services
            </span>
        </div>
        <div class="service-box border-radius mb-25 position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="content">
                        <h2>
                            <span>Artificial</span> Intelligence
                        </h2>
                        <p>
                            Using our AI solutions, it becomes possible to perform even those operations efficiently, rapidly, and precisely that previously could not have been performed at all.
                        </p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <ul class="list mb-0 mt-0 list-unstyled">
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Machine Learning
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Natural Language Processing
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Computer Vision
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/service-details" mat-fab color="primary" class="service-btn">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
        <div class="service-box border-radius mb-25 position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="content">
                        <h2>
                            <span>Cloud</span> Development
                        </h2>
                        <p>
                            Every business operates differently, using various technologies and having special difficulties. Thus, to every challenge our answer is a customized solution.
                        </p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <ul class="list mb-0 mt-0 list-unstyled">
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                IT Outsourcing
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Web Application Development
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Cloud Development
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/service-details" mat-fab color="primary" class="service-btn">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
        <div class="service-box border-radius mb-25 position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="content">
                        <h2>
                            <span>Business</span> Intelligence
                        </h2>
                        <p>
                            By using our BI services, you will be able to ensure that you always have up-to-date, easily transparent & predictable information when it comes to making your business.
                        </p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <ul class="list mb-0 mt-0 list-unstyled">
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Data Analysis
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Data Visualization
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Data Science
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/service-details" mat-fab color="primary" class="service-btn">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
        <div class="service-box border-radius mb-25 position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="content">
                        <h2>
                            <span>Consultancy</span> Solution
                        </h2>
                        <p>
                            We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & suggestions when they contact us having only a simple.
                        </p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <ul class="list mb-0 mt-0 list-unstyled">
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Brainstorming
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Detailed Assessment
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                E2E Solutions
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/service-details" mat-fab color="primary" class="service-btn">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
    </div>
</div>