<div
    class="page-banner-area pb-150 position-relative z-1"
    style="background-image: url(https://angular.hibootstrap.com/plaxa/assets/images/case-studies/case-study8.jpg);"
>
    <div class="container">
        <div class="page-bannner-content">
            <ul class="mt-0 list-unstyled">
                <li class="d-inline-block position-relative">
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li class="d-inline-block position-relative">
                    Case Studies
                </li>
                <li class="d-inline-block position-relative">
                    Case Study Details
                </li>
            </ul>
            <h1 class="mb-0">
                Case Study Details
            </h1>
        </div>
    </div>
</div>