<div class="story-area pt-150">
    <div class="container">
        <div
            class="story-content ml-auto mr-auto position-relative"
            [class.active]="classApplied"
           
        >
            <span class="sub-title fw-medium d-inline-block">
                Our Story
            </span>
            <h2 class="mb-0 fw-normal">
                <span>At Plaxa</span>, we pride ourselves on a team of seasoned professionals, comprising skilled AI developers and blockchain experts. With a wealth of experience and a commitment to excellence, we embark on every project with a dedication to delivering bespoke solutions tailored to meet the unique needs of our clients.
            </h2>
            <button
                mat-flat-button
                color="primary"
                class="default-btn"
                (click)="toggleClass()"
            >
                Read More <i class="ri-add-circle-line"></i>
            </button>
        </div>
    </div>
</div>