<div class="locations-area pt-150 pb-125">
    <div class="container">
        <div class="section-title mb-25 text-center ml-auto mr-auto">
            <span class="sub-title text-white mb-0 fw-medium d-inline-block">
                Our Locations
            </span>
        </div>
        <div class="row justify-content-center">
            @for (content of locationBox; track content) {
                <div class="col-lg-4 col-md-6">
                    <div class="single-location-box border-radius mb-25">
                        <h3>
                            {{content.title}}
                        </h3>
                        <ul class="pl-0 mb-0 mt-0 list-unstyled">
                            <li class="position-relative">
                                <i class="flaticon-maps-and-flags"></i>
                                {{content.location}}
                            </li>
                            <li class="position-relative">
                                <i class="flaticon-telephone"></i>
                                <a href="tel:{{content.phoneNumber}}">{{content.phoneNumber}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>