<app-page-banner />

<!-- FAQ -->
<div class="faq-area ptb-150">
    <div class="container">
        <div class="faq-accordion ml-auto mr-auto">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How does an AI text generator work?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What is the typical timeline and cost for developing a Blockchain solution?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What is the difference between public and private Blockchains?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Can existing systems be integrated with Blockchain technology?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How do you ensure the privacy of data on the Blockchain?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What industries can benefit from Blockchain technology?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What types of Blockchain solutions does your agency offer?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How can Blockchain benefit my business?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What is the typical timeline for developing a blockchain solution?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>

<app-contact-us />