<app-page-banner />

<!-- Jobs -->
<div class="jobs-area pt-150 pb-125">
    <div class="container">
        <div class="job-item border-radius position-relative z-1 d-md-flex align-items-center justify-content-between ml-auto mr-auto mb-25">
            <div>
                <h3>
                    <a routerLink="/job-details">
                        Lead Generation Specialist
                    </a>
                </h3>
                <ul class="pl-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        <i class="ri-briefcase-4-line"></i>
                        Web Developer
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-map-pin-line"></i>
                        Amsterdam, Netherlands
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-time-line"></i>
                        Full-Time
                    </li>
                </ul>
            </div>
            <div>
                <a routerLink="/job-details" mat-button class="link-btn">
                    Apply Now <i class="flaticon-right-arrow-2"></i>
                </a>
            </div>
        </div>
        <div class="job-item border-radius position-relative z-1 d-md-flex align-items-center justify-content-between ml-auto mr-auto mb-25">
            <div>
                <h3>
                    <a routerLink="/job-details">
                        Outbound Lead Generation Manager
                    </a>
                </h3>
                <ul class="pl-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        <i class="ri-briefcase-4-line"></i>
                        Manager
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-map-pin-line"></i>
                        Melbourne, Australia
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-time-line"></i>
                        Part-Time
                    </li>
                </ul>
            </div>
            <div>
                <a routerLink="/job-details" mat-button class="link-btn">
                    Apply Now <i class="flaticon-right-arrow-2"></i>
                </a>
            </div>
        </div>
        <div class="job-item border-radius position-relative z-1 d-md-flex align-items-center justify-content-between ml-auto mr-auto mb-25">
            <div>
                <h3>
                    <a routerLink="/job-details">
                        Python Developer (Data Engineering)
                    </a>
                </h3>
                <ul class="pl-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        <i class="ri-briefcase-4-line"></i>
                        Python Developer
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-map-pin-line"></i>
                        Copenhagen, Denmark
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-time-line"></i>
                        Full-Time
                    </li>
                </ul>
            </div>
            <div>
                <a routerLink="/job-details" mat-button class="link-btn">
                    Apply Now <i class="flaticon-right-arrow-2"></i>
                </a>
            </div>
        </div>
        <div class="job-item border-radius position-relative z-1 d-md-flex align-items-center justify-content-between ml-auto mr-auto mb-25">
            <div>
                <h3>
                    <a routerLink="/job-details">
                        Python Scraping Expert
                    </a>
                </h3>
                <ul class="pl-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        <i class="ri-briefcase-4-line"></i>
                        Backend Developer
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-map-pin-line"></i>
                        Vancouver, Canada
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-time-line"></i>
                        Full-Time
                    </li>
                </ul>
            </div>
            <div>
                <a routerLink="/job-details" mat-button class="link-btn">
                    Apply Now <i class="flaticon-right-arrow-2"></i>
                </a>
            </div>
        </div>
        <div class="job-item border-radius position-relative z-1 d-md-flex align-items-center justify-content-between ml-auto mr-auto mb-25">
            <div>
                <h3>
                    <a routerLink="/job-details">
                        Python/Django Developer
                    </a>
                </h3>
                <ul class="pl-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        <i class="ri-briefcase-4-line"></i>
                        Web Developer
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-map-pin-line"></i>
                        Vienna, Austria
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-time-line"></i>
                        Part-Time
                    </li>
                </ul>
            </div>
            <div>
                <a routerLink="/job-details" mat-button class="link-btn">
                    Apply Now <i class="flaticon-right-arrow-2"></i>
                </a>
            </div>
        </div>
        <div class="job-item border-radius position-relative z-1 d-md-flex align-items-center justify-content-between ml-auto mr-auto mb-25">
            <div>
                <h3>
                    <a routerLink="/job-details">
                        Senior Data Engineer
                    </a>
                </h3>
                <ul class="pl-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        <i class="ri-briefcase-4-line"></i>
                        Technology Engineer
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-map-pin-line"></i>
                        New York City, USA
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-time-line"></i>
                        Full-Time
                    </li>
                </ul>
            </div>
            <div>
                <a routerLink="/job-details" mat-button class="link-btn">
                    Apply Now <i class="flaticon-right-arrow-2"></i>
                </a>
            </div>
        </div>
        <div class="job-item border-radius position-relative z-1 d-md-flex align-items-center justify-content-between ml-auto mr-auto mb-25">
            <div>
                <h3>
                    <a routerLink="/job-details">
                        Team Lead Python/Django
                    </a>
                </h3>
                <ul class="pl-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        <i class="ri-briefcase-4-line"></i>
                        Full Stack Developer
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-map-pin-line"></i>
                        Sydney, Australia
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-time-line"></i>
                        Part-Time
                    </li>
                </ul>
            </div>
            <div>
                <a routerLink="/job-details" mat-button class="link-btn">
                    Apply Now <i class="flaticon-right-arrow-2"></i>
                </a>
            </div>
        </div>
        <div class="job-item border-radius position-relative z-1 d-md-flex align-items-center justify-content-between ml-auto mr-auto mb-25">
            <div>
                <h3>
                    <a routerLink="/job-details">
                        Strong Junior Data Engineer
                    </a>
                </h3>
                <ul class="pl-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        <i class="ri-briefcase-4-line"></i>
                        Data Engineer
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-map-pin-line"></i>
                        Tokyo, Japan
                    </li>
                    <li class="position-relative d-inline-block">
                        <i class="ri-time-line"></i>
                        Full-Time
                    </li>
                </ul>
            </div>
            <div>
                <a routerLink="/job-details" mat-button class="link-btn">
                    Apply Now <i class="flaticon-right-arrow-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>