<div class="container">
    <div class="meet-with-an-expert-box border-radius position-relative z-1">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-7 col-md-12">
                <h2 class="mb-0">
                    <span>We Resolve</span> Your Business Challenges
                </h2>
            </div>
            <div class="col-lg-4 col-xl-5 col-md-12">
                <div class="btn-box">
                    <a routerLink="/team" mat-flat-button color="primary" class="default-btn">
                        Meet With An Expert <i class="flaticon-right-arrow-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>