<div class="about-area pb-150">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image position-relative z-1">
                    <div class="funfacts">
                        <div class="row">
                            <div class="col-6">
                                <div class="box">
                                    <div class="number lh-1">
                                        70%
                                    </div>
                                    <p>
                                        Higher success rate
                                    </p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="box">
                                    <div class="number lh-1">
                                        90%
                                    </div>
                                    <p>
                                        Higher chance of delivery
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="assets/images/about-us/about2.jpg" alt="about-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title fw-medium d-inline-block">
                        About Us
                    </span>
                    <h2>
                        <span>Our Company</span> one of one-kind Blockchain services
                    </h2>
                    <p>
                        Our mission is to deliver creative & innovative solutions that help businesses succeed in the fast-paced digital world. With over 10 years of experience, we have designed & developed award-winning platforms that have generated billions in revenue.
                    </p>
                    <a routerLink="/about-us" mat-flat-button color="primary" class="default-btn">
                        More About Us <i class="flaticon-right-arrow-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>