<footer
    class="footer-area pt-150"
    [ngClass]="{'pt-0': router.url === '/'}"
>
    <div class="container">
        <div class="footer-top">
            <div class="d-flex align-items-center justify-content-center">
                <a routerLink="/" class="logo position-relative d-inline-block">
                    <img src="assets/images/logo.svg" alt="logo">
                </a>
                <div class="socials-link d-flex align-items-center">
                    <a href="#" target="_blank" class="d-block lh-1">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="d-block lh-1">
                        <i class="ri-linkedin-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="d-block lh-1">
                        <i class="ri-instagram-line"></i>
                    </a>
                    <a href="#" target="_blank" class="d-block lh-1">
                        <i class="ri-twitter-x-fill"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget mb-25">
                    <h3>
                        Services We Offer
                    </h3>
                    <ul class="services-list pl-0 mb-0 mt-0 list-unstyled">
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Machine Learning Consulting
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                AI Applications Development
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Data Engineering Services
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Data Analytics Services
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Web Application Development
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget mb-25">
                    <h3>
                        Explore Us
                    </h3>
                    <ul class="custom-links pl-0 mb-0 mt-0 list-unstyled">
                        <li>
                            <a routerLink="/case-studies">
                                Case Studies
                            </a>
                        </li>
                        <li>
                            <a routerLink="/blog">
                                Our Insights
                            </a>
                        </li>
                        <li>
                            <a routerLink="/team">
                                Meet with Team
                            </a>
                        </li>
                        <li>
                            <a routerLink="/careers">
                                Careers
                                <span>We’re Hiring</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/privacy-policy">
                                Company Policies
                            </a>
                        </li>
                        <li>
                            <a routerLink="/contact-us">
                                Contact with Us
                            </a>
                        </li>
                        <li class="nav-item">
                             <a routerLink="/faq">
                                FAQ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/privacy-policy">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/terms-conditions">
                                Terms & Conditions
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget mb-25">
                    <h3>
                        Our Industries
                    </h3>
                    <ul class="custom-links pl-0 mb-0 mt-0 list-unstyled">
                        <li>
                            <a routerLink="/industry-details">
                                E-commerce
                            </a>
                        </li>
                        <li>
                            <a routerLink="/industry-details">
                                Real Estate
                            </a>
                        </li>
                        <li>
                            <a routerLink="/industry-details">
                                Cyber Security
                            </a>
                        </li>
                        <li>
                            <a routerLink="/industry-details">
                                Medical Devices
                            </a>
                        </li>
                        <li>
                            <a routerLink="/industry-details">
                                Digital Marketing
                            </a>
                        </li>
                        <li>
                            <a routerLink="/industry-details">
                                Finance
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget mb-25">
                    <h3>
                       Important Links
                    </h3>
                    <p>
                        We are used to analyzing your request and formulating the task according.
                    </p>
                    <form>
                        <label class="form-label">
                            Your email
                        </label>
                        <mat-form-field>
                            <mat-label>Enter your email</mat-label>
                            <input matInput placeholder="Ex. hello@plaxa.com">
                        </mat-form-field>
                        <button type="submit" mat-flat-button color="primary" class="default-btn d-block w-100 text-center">
                            Subscribe Now <i class="flaticon-right-arrow-2"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area text-center">
        <div class="container">
            <p>
                © Its clone of Plaxa <a href="#" target="_blank">React</a>
            </p>
        </div>
    </div>
</footer>