<app-page-banner />

<!-- Industries Area -->
<div class="industries-area pt-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="industry-box">
                    <a routerLink="/industry-details" class="image border-radius d-block">
                        <img src="https://angular.hibootstrap.com/plaxa/assets/images/industries/industry9.jpg" class="border-radius" alt="industry-image">
                    </a>
                    <h3>
                        <a routerLink="/industry-details">
                            Cyber Security
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="industry-box">
                    <a routerLink="/industry-details" class="image border-radius d-block">
                        <img src="	https://angular.hibootstrap.com/plaxa/assets/images/industries/industry10.jpg" class="border-radius" alt="industry-image">
                    </a>
                    <h3>
                        <a routerLink="/industry-details">
                            Banking & Finance
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="industry-box">
                    <a routerLink="/industry-details" class="image border-radius d-block">
                        <img src="	https://angular.hibootstrap.com/plaxa/assets/images/industries/industry11.jpg" class="border-radius" alt="industry-image">
                    </a>
                    <h3>
                        <a routerLink="/industry-details">
                            E-commerce
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="industry-box">
                    <a routerLink="/industry-details" class="image border-radius d-block">
                        <img src="https://angular.hibootstrap.com/plaxa/assets/images/industries/industry12.jpg" class="border-radius" alt="industry-image">
                    </a>
                    <h3>
                        <a routerLink="/industry-details">
                            Business
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="industry-box">
                    <a routerLink="/industry-details" class="image border-radius d-block">
                        <img src="	https://angular.hibootstrap.com/plaxa/assets/images/industries/industry13.jpg" class="border-radius" alt="industry-image">
                    </a>
                    <h3>
                        <a routerLink="/industry-details">
                            Real Estate
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="industry-box">
                    <a routerLink="/industry-details" class="image border-radius d-block">
                        <img src="	https://angular.hibootstrap.com/plaxa/assets/images/industries/industry14.jpg" class="border-radius" alt="industry-image">
                    </a>
                    <h3>
                        <a routerLink="/industry-details">
                            Digital Identity
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="industry-box">
                    <a routerLink="/industry-details" class="image border-radius d-block">
                        <img src="https://angular.hibootstrap.com/plaxa/assets/images/industries/industry15.jpg" class="border-radius" alt="industry-image">
                    </a>
                    <h3>
                        <a routerLink="/industry-details">
                            Education
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="industry-box">
                    <a routerLink="/industry-details" class="image border-radius d-block">
                        <img src="	https://angular.hibootstrap.com/plaxa/assets/images/industries/industry16.jpg" class="border-radius" alt="industry-image">
                    </a>
                    <h3>
                        <a routerLink="/industry-details">
                            Pharma
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="industry-box">
                    <a routerLink="/industry-details" class="image border-radius d-block">
                        <img src="https://angular.hibootstrap.com/plaxa/assets/images/industries/industry17.jpg" class="border-radius" alt="industry-image">
                    </a>
                    <h3>
                        <a routerLink="/industry-details">
                            Medical
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & for a suggestions, when they contact us.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>