<app-page-banner />

<!-- Testimonials -->
<div class="testimonials-area pt-150 pb-125">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="testimonial-item mb-25 border-radius">
                    <p>
                        <q>
                            We highly regard Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement interface. Especially in times of coronavirus, this procurement approach.
                        </q>
                    </p>
                    <div class="info d-lg-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="user-image">
                                <img src="https://angular.hibootstrap.com/plaxa/assets/images/users/user1.png" alt="user-image">
                            </div>
                            <div class="user-info">
                                <h4>
                                    Elizabeth White
                                </h4>
                                <span class="d-block">
                                    04 days ago
                                </span>
                            </div>
                        </div>
                        <div class="company-logo">
                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/rise.png" alt="rise">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="testimonial-item mb-25 border-radius">
                    <p>
                        <q>
                            We highly regard Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement interface. Especially in times of coronavirus, this procurement approach.
                        </q>
                    </p>
                    <div class="info d-lg-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="user-image">
                                <img src="assets/images/user2.png" alt="user-image">
                            </div>
                            <div class="user-info">
                                <h4>
                                    Michael Anderson
                                </h4>
                                <span class="d-block">
                                    23 days ago
                                </span>
                            </div>
                        </div>
                        <div class="company-logo">
                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/penta.png" alt="penta">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="testimonial-item mb-25 border-radius">
                    <p>
                        <q>
                            We highly regard Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement interface. Especially in times of coronavirus, this procurement approach.
                        </q>
                    </p>
                    <div class="info d-lg-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="user-image">
                                <img src="https://angular.hibootstrap.com/plaxa/assets/images/users/user3.png" alt="user-image">
                            </div>
                            <div class="user-info">
                                <h4>
                                    John Smith
                                </h4>
                                <span class="d-block">
                                    09 days ago
                                </span>
                            </div>
                        </div>
                        <div class="company-logo">
                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/glossy.png" alt="glossy">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="testimonial-item mb-25 border-radius">
                    <p>
                        <q>
                            We highly regard Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement interface. Especially in times of coronavirus, this procurement approach.
                        </q>
                    </p>
                    <div class="info d-lg-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="user-image">
                                <img src="https://angular.hibootstrap.com/plaxa/assets/images/users/user1.png" alt="user-image">
                            </div>
                            <div class="user-info">
                                <h4>
                                    Elizabeth White
                                </h4>
                                <span class="d-block">
                                    04 days ago
                                </span>
                            </div>
                        </div>
                        <div class="company-logo">
                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/rise.png" alt="rise">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="testimonial-item mb-25 border-radius">
                    <p>
                        <q>
                            We highly regard Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement interface. Especially in times of coronavirus, this procurement approach.
                        </q>
                    </p>
                    <div class="info d-lg-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="user-image">
                                <img src="assets/images/user2.png" alt="user-image">
                            </div>
                            <div class="user-info">
                                <h4>
                                    Michael Anderson
                                </h4>
                                <span class="d-block">
                                    23 days ago
                                </span>
                            </div>
                        </div>
                        <div class="company-logo">
                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/penta.png" alt="penta">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="testimonial-item mb-25 border-radius">
                    <p>
                        <q>
                            We highly regard Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement interface. Especially in times of coronavirus, this procurement approach.
                        </q>
                    </p>
                    <div class="info d-lg-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="user-image">
                                <img src="https://angular.hibootstrap.com/plaxa/assets/images/users/user3.png" alt="user-image">
                            </div>
                            <div class="user-info">
                                <h4>
                                    John Smith
                                </h4>
                                <span class="d-block">
                                    09 days ago
                                </span>
                            </div>
                        </div>
                        <div class="company-logo">
                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/glossy.png" alt="glossy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>