<!-- Default -->
<div
    class="blog-area bg-image pt-150 pb-125"
    [ngClass]="{'d-none': router.url === '/index-3'}"
>
    <div class="container pb-150">
        <div class="section-title text-center ml-auto mr-auto">
            <span class="sub-title fw-medium d-inline-block">
                Our Insights
            </span>
            <h2>
                <span>Created Unique</span> Data-Based Apps & AI Solutions Both
            </h2>
        </div>
        <div class="single-blog-post position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="content">
                        <div class="d-sm-flex align-items-center">
                            <a routerLink="/blog" class="category d-inline-block position-relative z-1">
                                Security
                            </a>
                            <ul class="meta pl-0 mb-0 mt-0 list-unstyled">
                                <li class="d-inline-block position-relative">
                                    <i class="ri-user-3-line"></i>
                                    <a routerLink="/blog">Admin</a>
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="ri-message-2-line"></i>
                                    <a routerLink="/blog-details">27 Comments</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="mb-0">
                            <a routerLink="/blog-details">
                                Super Bowl ad features a striking visual full self-driving
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="text">
                        <p>
                            We are used to analyzing your request and formulating the task according to your exact needs to find the most relevant solution.
                        </p>
                    </div>
                </div>
            </div>
            <a routerLink="/blog-details" mat-fab color="primary" class="blog-btn">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
        <div class="single-blog-post position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="content">
                        <div class="d-sm-flex align-items-center">
                            <a routerLink="/blog" class="category d-inline-block position-relative z-1">
                                Digital
                            </a>
                            <ul class="meta pl-0 mb-0 mt-0 list-unstyled">
                                <li class="d-inline-block position-relative">
                                    <i class="ri-user-3-line"></i>
                                    <a routerLink="/blog">Admin</a>
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="ri-message-2-line"></i>
                                    <a routerLink="/blog-details">12 Comments</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="mb-0">
                            <a routerLink="/blog-details">
                                Every computer works well when you service regularly
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="text">
                        <p>
                            We are used to analyzing your request and formulating the task according to your exact needs to find the most relevant solution.
                        </p>
                    </div>
                </div>
            </div>
            <a routerLink="/blog-details" mat-fab color="primary" class="blog-btn">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
        <div class="single-blog-post position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="content">
                        <div class="d-sm-flex align-items-center">
                            <a routerLink="/blog" class="category d-inline-block position-relative z-1">
                                Finance
                            </a>
                            <ul class="meta pl-0 mb-0 mt-0 list-unstyled">
                                <li class="d-inline-block position-relative">
                                    <i class="ri-user-3-line"></i>
                                    <a routerLink="/blog">Admin</a>
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="ri-message-2-line"></i>
                                    <a routerLink="/blog-details">10 Comments</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="mb-0">
                            <a routerLink="/blog-details">
                                Finance and business are not simple for every person
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="text">
                        <p>
                            We are used to analyzing your request and formulating the task according to your exact needs to find the most relevant solution.
                        </p>
                    </div>
                </div>
            </div>
            <a routerLink="/blog-details" mat-fab color="primary" class="blog-btn">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
    </div>
</div>

<!-- Only for Home Demo - 3 -->
<div
    class="blog-area pb-125"
    *ngIf="router.url === '/index-3'"
>
    <div class="container">
        <div class="section-title text-center ml-auto mr-auto">
            <span class="sub-title fw-medium d-inline-block">
                Our Insights
            </span>
            <h2>
                <span>Created Unique</span> Data-Based Apps & AI Solutions Both
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="single-blog-item mb-25">
                    <a routerLink="/blog-details" class="image d-block border-radius">
                        <img src="assets/images/blogs/blog4.jpg" class="border-radius" alt="blog-image">
                    </a>
                    <div class="content border-radius">
                        <ul class="meta pl-0 mt-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="ri-user-3-line"></i>
                                <a routerLink="/blog">Admin</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="ri-message-2-line"></i>
                                <a routerLink="/blog-details">02 Comments</a>
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                Super Bowl ad features a striking visual full self-driving
                            </a>
                        </h3>
                        <p>
                            We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-blog-item mb-25">
                    <a routerLink="/blog-details" class="image d-block border-radius">
                        <img src="assets/images/blogs/blog5.jpg" class="border-radius" alt="blog-image">
                    </a>
                    <div class="content border-radius">
                        <ul class="meta pl-0 mt-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="ri-user-3-line"></i>
                                <a routerLink="/blog">Admin</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="ri-message-2-line"></i>
                                <a routerLink="/blog-details">01 Comments</a>
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                Every computer works well when you service it regularly
                            </a>
                        </h3>
                        <p>
                            We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>