<app-page-banner />

<!-- Case Studies -->
<div class="case-studies-area ptb-150">
    <div class="container">
        <div class="case-study-box mb-25">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="content">
                        <div class="text">
                            <h3>
                                <a routerLink="/case-study-details">
                                    Financial Intermediation Platform
                                </a>
                            </h3>
                            <ul class="p-0 mt-0 mb-0 list-unstyled">
                                <li>
                                    <span class="d-block text-primary">
                                        2.9million+
                                    </span>
                                    Shopify Stores
                                </li>
                                <li>
                                    <span class="d-block text-primary">
                                        04million+
                                    </span>
                                    Pages Processed Daily
                                </li>
                            </ul>
                        </div>
                        <div class="btn">
                            <a routerLink="/case-study-details" mat-button class="link-btn">
                                View Case Study <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="image">
                        <div class="logo text-right">
                            <img src="assets/images/case-studies/case-study-logo3.svg" alt="logo-image">
                        </div>
                        <div class="main-image">
                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/case-studies/case-study7.jpg" alt="case-study-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="case-study-box mb-25">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="content">
                        <div class="text">
                            <h3>
                                <a routerLink="/case-study-details">
                                    Expert Elicitation Global Survey
                                </a>
                            </h3>
                            <ul class="p-0 mt-0 mb-0 list-unstyled">
                                <li>
                                    <span class="d-block text-primary">
                                        450+
                                    </span>
                                    System Integrations
                                </li>
                                <li>
                                    <span class="d-block text-primary">
                                        890h+
                                    </span>
                                    Manual Work Reduced
                                </li>
                            </ul>
                        </div>
                        <div class="btn">
                            <a routerLink="/case-study-details" mat-button class="link-btn">
                                View Case Study <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="image">
                        <div class="logo text-right">
                            <img src="assets/images/case-studies/case-study-logo2.svg" alt="logo-image">
                        </div>
                        <div class="main-image">
                            <img src="assets/images/case-studies/case-study1.jpg" alt="case-study-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="case-study-box mb-25">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="content">
                        <div class="text">
                            <h3>
                                <a routerLink="/case-study-details">
                                    Supply Chain Dashboard
                                </a>
                            </h3>
                            <ul class="p-0 mt-0 mb-0 list-unstyled">
                                <li>
                                    <span class="d-block text-primary">
                                        09k+
                                    </span>
                                    QPS Performance
                                </li>
                                <li>
                                    <span class="d-block text-primary">
                                        90+
                                    </span>
                                    Cost Reduction
                                </li>
                            </ul>
                        </div>
                        <div class="btn">
                            <a routerLink="/case-study-details" mat-button class="link-btn">
                                View Case Study <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="image">
                        <div class="logo text-right">
                            <img src="assets/images/case-studies/case-study-logo1.svg" alt="logo-image">
                        </div>
                        <div class="main-image">
                            <img src="assets/images/case-studies/case-study2.jpg" alt="case-study-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-area text-center">
            <a routerLink="/case-studies" class="next page-numbers d-inline-block rounded-circle postion-relative z-1">
                <i class="ri-arrow-left-line"></i>
            </a>
            <a routerLink="/case-studies" class="page-numbers d-inline-block rounded-circle postion-relative z-1">
                1
            </a>
            <span class="current page-numbers d-inline-block rounded-circle postion-relative z-1" aria-current="page">
                2
            </span>
            <a routerLink="/case-studies" class="page-numbers d-inline-block rounded-circle postion-relative z-1">
                3
            </a>
            <a routerLink="/case-studies" class="page-numbers d-inline-block rounded-circle postion-relative z-1">
                4
            </a>
            <a routerLink="/case-studies" class="next page-numbers d-inline-block rounded-circle postion-relative z-1">
                <i class="ri-arrow-right-line"></i>
            </a>
        </div>
    </div>
</div>

<app-contact-us />