.why-choose-area {
    .container-fluid {
        padding: {
            left: 0;
            right: 0;
        };
        .row {
            margin: {
                left: 0;
                right: 0;
            };
            > * {
                padding: {
                    left: 0;
                    right: 0;
                };
            }
        }
    }
}
.why-choose-image {
    border-radius: 0 10px 10px 0;
    margin-right: 4.5px;
    padding: {
        top: 80px;
        right: 50px;
    };
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: '';
        position: absolute;
        margin-bottom: 80px;
        border-radius: 0 10px 10px 0;
        background: rgba(123, 19, 255, .06);
        border: 1px solid rgba(255, 255, 255, .09);
    }
    img {
        margin-bottom: -4px;
        border-radius: 0 10px 10px 0;
    }
    .funfacts {
        max-width: 593px;
        margin: {
            left: auto;
            bottom: 80px;
        };
        .box {
            .number {
                margin-bottom: 12px;
                background: linear-gradient(93deg, #400D64 0%, #7B13FF 20.48%, #FF82F3 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font: {
                    size: 70px;
                    weight: 500;
                    family: var(--headingFontFamily);
                };
            }
            p {
                font-size: 18px;
            }
        }
    }
}
.why-choose-content {
    padding-left: 65px;
    max-width: 648px;

    .sub-title {
        padding: 5px 15px;
        border-radius: 30px;
        margin-bottom: 15px;
        color: var(--bodyColor);
        background-color: rgba(255, 255, 255, .03);
        border: 1px solid rgba(255, 255, 255, .09);
    }
    h2 {
        margin-bottom: 20px;
        line-height: 1.2;
        font-size: 59px;

        span {
            color: #7b8f94;
        }
    }
    p {
        font-size: 18px;
    }
    .default-btn {
        margin-top: 25px;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .why-choose-area {
        .container-fluid {
            padding: {
                left: 12.5px;
                right: 12.5px;
            };
        }
    }
    .why-choose-image {
        padding: 20px 15px 0;
        border-radius: 10px;
        margin: {
            right: 0;
            bottom: 25px;
        };
        &::before {
            margin-bottom: 20px;
            border-radius: 10px;
        }
        img {
            border-radius: 10px;
        }
        .funfacts {
            max-width: 100%;
            margin: {
                left: 0;
                bottom: 20px;
            };
            .box {
                .number {
                    margin-bottom: 8px;
                    font-size: 30px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .why-choose-content {
        padding-left: 0;
        max-width: 100%;
    
        .sub-title {
            margin-bottom: 10px;
        }
        h2 {
            margin-bottom: 10px;
            line-height: 1.3;
            font-size: 28px;
        }
        p {
            font-size: 14px;
        }
        .default-btn {
            margin-top: 4px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .why-choose-area {
        .container-fluid {
            max-width: 540px;
        }
    }
    .why-choose-image {
        padding: 25px 25px 0;
        
        .funfacts {
            margin-bottom: 25px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .why-choose-area {
        .container-fluid {
            max-width: 720px;
            padding: {
                left: 12.5px;
                right: 12.5px;
            };
        }
    }
    .why-choose-image {
        padding: 30px 30px 0;
        border-radius: 10px;
        margin-right: 0;
        margin: {
            right: 0;
            bottom: 30px;
        };
        &::before {
            border-radius: 10px;
            margin-bottom: 30px;
        }
        img {
            border-radius: 10px;
        }
        .funfacts {
            max-width: 100%;
            margin: {
                left: 0;
                bottom: 30px;
            };
            .box {
                .number {
                    margin-bottom: 10px;
                    font-size: 42px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
    }
    .why-choose-content {
        padding-left: 0;
        max-width: 100%;
    
        .sub-title {
            margin-bottom: 12px;
        }
        h2 {
            font-size: 42px;
            margin-bottom: 10px;
        }
        p {
            font-size: 15px;
        }
        .default-btn {
            margin-top: 8px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .why-choose-image {
        margin-right: 0;
        padding: {
            top: 50px;
            right: 25px;
        };
        &::before {
            margin-bottom: 25px;
        }
        .funfacts {
            max-width: 442px;
            margin-bottom: 50px;

            .box {
                .number {
                    font-size: 50px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
    .why-choose-content {
        padding-left: 25px;
        max-width: 468px;

        h2 {
            margin-bottom: 12px;
            font-size: 45px;
        }
        p {
            font-size: 16px;
        }
        .default-btn {
            margin-top: 10px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .why-choose-image {
        margin-right: 0;
        padding: {
            top: 60px;
            right: 40px;
        };
        &::before {
            margin-bottom: 60px;
        }
        .funfacts {
            max-width: 517px;
            margin-bottom: 60px;

            .box {
                .number {
                    font-size: 60px;
                }
                p {
                    font-size: 17px;
                }
            }
        }
    }
    .why-choose-content {
        padding-left: 35px;
        max-width: 558px;
    
        h2 {
            margin-bottom: 15px;
            font-size: 53px;
        }
        p {
            font-size: 17px;
        }
        .default-btn {
            margin-top: 15px;
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .why-choose-area {
        .container-fluid {
            max-width: 1920px;
        }
    }

}