<div class="testimonials-area pb-150">
    <div class="container">
        <div class="testimonials-section-title">
            <h3 class="mb-0">
                Testimonials
            </h3>
        </div>
        <div class="testimonials-slides">
            <owl-carousel-o [options]="testimonialsSlides">
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <p>
                            <q>
                                We highly regard Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement for that interface. Especially in times of coronavirus, this procurement approach for our solution and our business.
                            </q>
                        </p>
                        <div class="info d-md-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="user-image">
                                    <img src="assets/images/users/user1.png" alt="user-image">
                                </div>
                                <div class="user-info">
                                    <h4>
                                        Elizabeth White
                                    </h4>
                                    <span class="d-block">
                                        04 days ago
                                    </span>
                                </div>
                            </div>
                            <div class="company-logo">
                                <img src="assets/images/rise.png" alt="rise">
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <p>
                            <q>
                                Especially in times of coronavirus, this procurement approach for our solution and our business. We highly regard Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement for that interface.
                            </q>
                        </p>
                        <div class="info d-md-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="user-image">
                                    <img src="assets/images/users/user2.png" alt="user-image">
                                </div>
                                <div class="user-info">
                                    <h4>
                                        Michael Anderson
                                    </h4>
                                    <span class="d-block">
                                        23 days ago
                                    </span>
                                </div>
                            </div>
                            <div class="company-logo">
                                <img src="assets/images/penta.png" alt="penta">
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <p>
                            <q>
                                We highly regard Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement for that interface. Especially in times of coronavirus, this procurement approach for our solution and our business.
                            </q>
                        </p>
                        <div class="info d-md-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="user-image">
                                    <img src="assets/images/users/user3.png" alt="user-image">
                                </div>
                                <div class="user-info">
                                    <h4>
                                        John Smith
                                    </h4>
                                    <span class="d-block">
                                        09 days ago
                                    </span>
                                </div>
                            </div>
                            <div class="company-logo">
                                <img src="assets/images/glossy.png" alt="glossy">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="reviews-platforms bg-f7f1ff position-relative z-1 border-radius d-sm-flex align-items-center justify-content-between">
            <div class="total-reviews d-flex align-items-center">
                <div class="text">
                    <span class="d-block">
                        Review On
                    </span>
                    <img src="assets/images/clutch.png" alt="clutch">
                </div>
                <div class="ratings">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <span class="d-block">
                        8654+ Reviews
                    </span>
                </div>
            </div>
            <div class="total-reviews d-flex align-items-center">
                <div class="text">
                    <span class="d-block">
                        Review On
                    </span>
                    <img src="assets/images/trustpilot.png" alt="trustpilot">
                </div>
                <div class="ratings">
                    <img src="assets/images/trustpilot-ratings.png" alt="trustpilot-ratings">
                    <span class="d-block">
                        544+ Reviews
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>