<div class="container">
    <div
        class="lets-talk-box border-radius position-relative z-1"
        style="background-image: url(https://angular.hibootstrap.com/plaxa/assets/images/lets-talk-bg.jpg);"
    >
        <div class="row align-items-center">
            <div class="col-lg-8 col-xl-6 col-md-12">
                <span class="sub-title fw-medium d-inline-block">
                    Let's Talk
                </span>
                <h2 class="mb-0">
                    <span>Have Any Project</span> in Your Mind?
                </h2>
            </div>
            <div class="col-lg-4 col-xl-6 col-md-12">
                <div class="btn-box">
                    <a routerLink="/contact-us" mat-flat-button color="primary" class="default-btn">
                        Get Started Today! <i class="flaticon-right-arrow-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>