<!-- Default -->
<div
    class="testimonials-area pb-150"
    [ngClass]="{'d-none': router.url === '/index-3'}"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="testimonials-image position-relative text-center">
                    <img src="	https://angular.hibootstrap.com/plaxa/assets/images/testimonials.png" alt="testimonials-image">
                    <div class="total-reviews d-flex align-items-center">
                        <div class="text">
                            <span class="d-block">
                                Review On
                            </span>
                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/clutch.png" alt="clutch">
                        </div>
                        <div class="ratings">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <span class="d-block">
                                8654+ Reviews
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="testimonials-content">
                    <span class="sub-title fw-medium d-inline-block">
                        Client's Testimonials
                    </span>
                    <h2>
                        <span>Those Who</span> Trust Us to Take Their Solution
                    </h2>
                    <p>
                        Trusted by over <span>15,000+</span> satisfied customers worldwide.
                    </p>
                </div>
                <div class="testimonials-slides">
                    <owl-carousel-o [options]="testimonialsSlides">
                        <ng-template carouselSlide>
                            <div class="testimonial-item border-radius">
                                <p>
                                    <q>
                                        We highly regard Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement interface. Especially in times of coronavirus, this procurement approach.
                                    </q>
                                </p>
                                <div class="info d-lg-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="user-image">
                                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/users/user1.png" alt="user-image">
                                        </div>
                                        <div class="user-info">
                                            <h4>
                                                Elizabeth White
                                            </h4>
                                            <span class="d-block">
                                                04 days ago
                                            </span>
                                        </div>
                                    </div>
                                    <div class="company-logo">
                                        <img src="https://angular.hibootstrap.com/plaxa/assets/images/rise.png" alt="rise">
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="testimonial-item border-radius">
                                <p>
                                    <q>
                                        We highly regard Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement interface. Especially in times of coronavirus, this procurement approach.
                                    </q>
                                </p>
                                <div class="info d-lg-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="user-image">
                                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/users/user2.png" alt="user-image">
                                        </div>
                                        <div class="user-info">
                                            <h4>
                                                Michael Anderson
                                            </h4>
                                            <span class="d-block">
                                                23 days ago
                                            </span>
                                        </div>
                                    </div>
                                    <div class="company-logo">
                                        <img src="	https://angular.hibootstrap.com/plaxa/assets/images/penta.png" alt="penta">
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="testimonial-item border-radius">
                                <p>
                                    <q>
                                        We highly regard Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement interface. Especially in times of coronavirus, this procurement approach.
                                    </q>
                                </p>
                                <div class="info d-lg-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="user-image">
                                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/users/user3.png" alt="user-image">
                                        </div>
                                        <div class="user-info">
                                            <h4>
                                                John Smith
                                            </h4>
                                            <span class="d-block">
                                                09 days ago
                                            </span>
                                        </div>
                                    </div>
                                    <div class="company-logo">
                                        <img src="https://angular.hibootstrap.com/plaxa/assets/images/glossy.png" alt="glossy">
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Only for Home Demo - 3 -->
<div
    class="testimonials-area bg-image ptb-150"
    *ngIf="router.url === '/index-3'"
>
    <div class="container pb-150">
        <div class="testimonials-slides-two">
            <div class="quote-icon lh-1 ml-auto mr-auto">
                <i class="flaticon-right-quote"></i>
            </div>
            <div class="section-title mb-25 ml-auto mr-auto">
                <span class="sub-title text-white mb-0 fw-medium d-inline-block">
                    Our Testimonials
                </span>
            </div>
            <owl-carousel-o [options]="testimonialsSlidesTwo">
                <ng-template carouselSlide>
                    <div class="testimonial-box">
                        <p>
                            <q>
                                <span>We highly regard</span> Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement for that interface.
                            </q>
                        </p>
                        <div class="info d-md-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="user-image">
                                    <img src="https://angular.hibootstrap.com/plaxa/assets/images/users/user1.png" alt="user-image">
                                </div>
                                <div class="user-info">
                                    <h4>
                                        Elizabeth White
                                    </h4>
                                    <span class="d-block">
                                        04 days ago
                                    </span>
                                </div>
                            </div>
                            <div class="company-logo">
                                <img src="https://angular.hibootstrap.com/plaxa/assets/images/rise.png" alt="rise">
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-box">
                        <p>
                            <q>
                                <span>We highly regard</span> Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement for that interface.
                            </q>
                        </p>
                        <div class="info d-md-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="user-image">
                                    <img src="https://angular.hibootstrap.com/plaxa/assets/images/users/user2.png" alt="user-image">
                                </div>
                                <div class="user-info">
                                    <h4>
                                        Michael Anderson
                                    </h4>
                                    <span class="d-block">
                                        23 days ago
                                    </span>
                                </div>
                            </div>
                            <div class="company-logo">
                                <img src="	https://angular.hibootstrap.com/plaxa/assets/images/penta.png" alt="penta">
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-box">
                        <p>
                            <q>
                                <span>We highly regard</span> Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement for that interface.
                            </q>
                        </p>
                        <div class="info d-md-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="user-image">
                                    <img src="https://angular.hibootstrap.com/plaxa/assets/images/users/user3.png" alt="user-image">
                                </div>
                                <div class="user-info">
                                    <h4>
                                        John Smith
                                    </h4>
                                    <span class="d-block">
                                        09 days ago
                                    </span>
                                </div>
                            </div>
                            <div class="company-logo">
                                <img src="https://angular.hibootstrap.com/plaxa/assets/images/glossy.png" alt="glossy">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>