<div class="what-we-do-area ptb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="what-we-do-section-title">
                    <span class="sub-title fw-medium d-inline-block">
                        What We Do
                    </span>
                    <h2>
                        <span>What Our</span> Services for all Digital-First Company
                    </h2>
                    <a routerLink="/services" mat-flat-button color="primary" class="default-btn">
                        View All Services <i class="flaticon-right-arrow-2"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="what-we-do-box position-relative border-radius">
                    <h3>
                        <a routerLink="/service-details">
                            Machine Learning
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & suggestions when they contact us.
                    </p>
                    <a routerLink="/service-details" mat-button class="link-btn">
                        View Details <i class="flaticon-right-arrow-2"></i>
                    </a>
                    <a routerLink="/service-details" mat-fab color="primary" class="what-we-do-btn">
                        <i class="ri-arrow-right-up-line"></i>
                    </a>
                </div>
                <div class="what-we-do-box position-relative border-radius">
                    <h3>
                        <a routerLink="/service-details">
                            Data Visualization
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & suggestions when they contact us.
                    </p>
                    <a routerLink="/service-details" mat-button class="link-btn">
                        View Details <i class="flaticon-right-arrow-2"></i>
                    </a>
                    <a routerLink="/service-details" mat-fab color="primary" class="what-we-do-btn">
                        <i class="ri-arrow-right-up-line"></i>
                    </a>
                </div>
                <div class="what-we-do-box position-relative border-radius">
                    <h3>
                        <a routerLink="/service-details">
                            Application Development
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & suggestions when they contact us.
                    </p>
                    <a routerLink="/service-details" mat-button class="link-btn">
                        View Details <i class="flaticon-right-arrow-2"></i>
                    </a>
                    <a routerLink="/service-details" mat-fab color="primary" class="what-we-do-btn">
                        <i class="ri-arrow-right-up-line"></i>
                    </a>
                </div>
                <div class="what-we-do-box position-relative border-radius">
                    <h3>
                        <a routerLink="/service-details">
                            IT Outsourcing
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & suggestions when they contact us.
                    </p>
                    <a routerLink="/service-details" mat-button class="link-btn">
                        View Details <i class="flaticon-right-arrow-2"></i>
                    </a>
                    <a routerLink="/service-details" mat-fab color="primary" class="what-we-do-btn">
                        <i class="ri-arrow-right-up-line"></i>
                    </a>
                </div>
                <div class="what-we-do-box position-relative border-radius">
                    <h3>
                        <a routerLink="/service-details">
                            Data Analytics Services
                        </a>
                    </h3>
                    <p>
                        We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice & suggestions when they contact us.
                    </p>
                    <a routerLink="/service-details" mat-button class="link-btn">
                        View Details <i class="flaticon-right-arrow-2"></i>
                    </a>
                    <a routerLink="/service-details" mat-fab color="primary" class="what-we-do-btn">
                        <i class="ri-arrow-right-up-line"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>