<app-page-banner />

<!-- Case Study Details -->
<div class="case-study-details-area ptb-150">
    <div class="container">
        <div class="case-study-details-description ml-auto mr-auto">
            <img src="assets/images/case-studies/case-study-details1.jpg" class="border-radius" alt="case-study-details-image">
            <div class="categories">
                <a routerLink="/case-studies" class="d-inline-block">
                    Mobile
                </a>
                <a routerLink="/case-studies" class="d-inline-block">
                    Business
                </a>
            </div>
            <h3>
                Cloud Simulation Platform Development
            </h3>
            <p>
                The product we develop is designed to serve systemic and prove itself sustainable for a long time. We're focused on solutions, performed not in theory, but in practice. Doloribus non molestiae ab laudantium veritatis. Minus minima suscipit placeat velit voluptatibus, ab quas dolores quisquam temporibus, similique tempora officia possimus totam vitae, dolorum incidunt non soluta nisi reprehenderit dignissimos culpa fugiat quaerat? Odit reprehenderit reiciendis quas harum modi illum, dolor distinctio! Et, animi distinctio. Molestias quam possimus accusantium minima obcaecati sit deleniti totam repellat.
            </p>
        </div>
        <div class="case-study-details-funfacts ml-auto mr-auto">
            <div class="row justify-content-center">
                <div class="col-md-4 col-sm-6">
                    <div class="box">
                        <div class="number lh-1">
                            56%
                        </div>
                        <p>
                            Global companies invest in artificial intelligence regularly.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box">
                        <div class="number lh-1">
                            89%
                        </div>
                        <p>
                            CEOs define artificial intelligence as their organization’s technology.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box">
                        <div class="number lh-1">
                            345+
                        </div>
                        <p>
                            For functional release of OBT, RTS and OGS solutions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="case-study-details-benefits ml-auto mr-auto">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="content">
                        <h3>
                            Customer Benefits
                        </h3>
                        <ul class="pl-0 mb-0 list-unstyled">
                            <li class="position-relative">
                                <i class="flaticon-check-mark-1"></i>
                                <p>
                                    Always support from our expert members when needed.
                                </p>
                            </li>
                            <li class="position-relative">
                                <i class="flaticon-check-mark-1"></i>
                                <p>
                                    Instant pricing & lead-time options for our customer.
                                </p>
                            </li>
                            <li class="position-relative">
                                <i class="flaticon-check-mark-1"></i>
                                <p>
                                    Support from our technical manufacturing experts member.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="image">
                        <img src="assets/images/services/service-details3.jpg" class="border-radius" alt="service-details-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="case-study-details-results ml-auto mr-auto">
            <h3>
                Project Results
            </h3>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="content position-relative">
                        <i class="flaticon-check-mark-2"></i>
                        <h4>
                            30+ processes delivered
                        </h4>
                        <p>
                            Will reenergize your ome and enhance your life. From everyday housekeeping to routine cleanings, our team for a professional this to It uses a dictionary.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="content position-relative">
                        <i class="flaticon-check-mark-2"></i>
                        <h4>
                            Over 30,000 hrs delivered back to the business
                        </h4>
                        <p>
                            Will reenergize your ome and enhance your life. From everyday housekeeping to routine cleanings, our team for a professional this to It uses a dictionary.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="content position-relative">
                        <i class="flaticon-check-mark-2"></i>
                        <h4>
                            95% success rate of bot case completion
                        </h4>
                        <p>
                            Will reenergize your ome and enhance your life. From everyday housekeeping to routine cleanings, our team for a professional this to It uses a dictionary.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="content position-relative">
                        <i class="flaticon-check-mark-2"></i>
                        <h4>
                            100% SOX compliance in settlement automation
                        </h4>
                        <p>
                            Will reenergize your ome and enhance your life. From everyday housekeeping to routine cleanings, our team for a professional this to It uses a dictionary.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="case-study-details-review ml-auto mr-auto">
            <div class="review-section-title">
                <h3 class="mb-0">
                    Project Review
                </h3>
            </div>
            <div class="review-item">
                <p>
                    <q>
                        We highly regard Plaxa reliable supplier of production parts with good delivery times & an easy to-use procurement for that interface. Especially in times of coronavirus, this procurement approach for our solution and our business.
                    </q>
                </p>
                <div class="info d-md-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="user-image">
                            <img src="assets/images/users/user1.png" alt="user-image">
                        </div>
                        <div class="user-info">
                            <h4>
                                Elizabeth White
                            </h4>
                            <span class="d-block">
                                04 days ago
                            </span>
                        </div>
                    </div>
                    <div class="company-logo">
                        <img src="assets/images/rise.png" alt="rise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>