<div class="banner-area position-relative z-1">
    <div class="container">
        <div class="banner-content">
            <h1>
                <span>Provide</span> Blockchain & AI, Development 
            </h1>
            <div class="btn-box d-sm-flex align-items-center">
                <a routerLink="/contact-us" mat-flat-button color="primary" class="default-btn">
                    Get Started Today! <i class="flaticon-right-arrow-2"></i>
                </a>
                <br>
                <a routerLink="/services" mat-button class="link-btn">
                    Our Services <i class="flaticon-right-arrow-2"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="funfacts-partners">
                    <div class="funfacts row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="box">
                                <div class="number lh-1">
                                    56%
                                </div>
                                <p>
                                    Global companies invest in artificial intelligence regularly.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="box">
                                <div class="number lh-1">
                                    89%
                                </div>
                                <p>
                                    CEOs define artificial intelligence as their organization’s technology.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="partners row align-items-center">
                        <div class="col-sm-3 col-6">
                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/partners/partner4.png" alt="partner-image">
                        </div>
                        <div class="col-sm-3 col-6">
                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/partners/partner5.png" alt="partner-image">
                        </div>
                        <div class="col-sm-3 col-6">
                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/partners/partner2.png" alt="partner-image">
                        </div>
                        <div class="col-sm-3 col-6">
                            <img src="https://angular.hibootstrap.com/plaxa/assets/images/partners/partner1.png" alt="partner-image">
                            <!-- <img src="assets/images/partners/partner1.png" alt="partner-image">https://angular.hibootstrap.com/plaxa/assets/images/partners/partner1.png -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="banner-image text-center">
                    <img src="https://angular.hibootstrap.com/plaxa/assets/images/banners/banner.png" alt="banner-image">
                    <!-- <img src="https://angular.hibootstrap.com/plaxa/assets/images/banners/banner.png" alt="banner-image"> -->
                </div>
            </div>
        </div>
    </div>
    <div
        class="banner-bg"
        style="background-image: url(https://angular.hibootstrap.com/plaxa/assets/images/banners/banner-bg1.jpg);"
        
    ></div>
</div>