<div class="contact-area pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="contact-image">
                    <img src="	https://angular.hibootstrap.com/plaxa/assets/images/contact-us/contact1.png" alt="contact-image">
                    <ul class="pl-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <i class="flaticon-check-mark-1"></i>
                            Always support from our expert members when needed
                        </li>
                        <li class="position-relative">
                            <i class="flaticon-check-mark-1"></i>
                            Instant pricing & lead-time options for our customer
                        </li>
                        <li class="position-relative">
                            <i class="flaticon-check-mark-1"></i>
                            Support from our technical manufacturing experts member
                        </li>
                        <li class="position-relative">
                            <i class="flaticon-check-mark-1"></i>
                            Support to join 23K+ companies who choose Plaxa
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contact-content">
                    <span class="sub-title fw-medium d-inline-block">
                        Contact With Us
                    </span>
                    <h2 class="mb-0">
                        <span>Join 23K+</span> Companies Who Choose Plaxa
                    </h2>
                </div>
                <div class="contact-form border-radius">
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="mb-25">
                                    <label class="form-label">
                                        Your email
                                    </label>
                                    <mat-form-field>
                                        <mat-label>Enter your email</mat-label>
                                        <input matInput placeholder="Ex. hello@plaxa.com">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="mb-25">
                                    <label class="form-label">
                                        Your name
                                    </label>
                                    <mat-form-field>
                                        <mat-label>Enter your name</mat-label>
                                        <input matInput placeholder="Ex. Jason Statham">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="mb-25">
                                    <label class="form-label">
                                        Your phone number
                                    </label>
                                    <mat-form-field>
                                        <mat-label>Enter your phone number</mat-label>
                                        <input matInput placeholder="Ex. +123 45678 321">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="mb-25">
                                    <label class="form-label">
                                        Your company
                                    </label>
                                    <mat-form-field>
                                        <mat-label>Enter your company</mat-label>
                                        <input matInput placeholder="Ex. HiBootstrap">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <div class="mb-25">
                                    <label class="form-label">
                                        Service name
                                    </label>
                                    <mat-form-field>
                                        <mat-label>Select</mat-label>
                                        <mat-select>
                                            <mat-option value="1">Real Estate</mat-option>
                                            <mat-option value="2">Marketing</mat-option>
                                            <mat-option value="3">Cyber Security</mat-option>
                                            <mat-option value="4">Finance</mat-option>
                                            <mat-option value="5">Medical Devices</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <div class="mb-25">
                                    <label class="form-label">
                                        Describe message
                                    </label>
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Leave a message</mat-label>
                                        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <div class="mb-25">
                                    <div class="upload-btn position-relative">
                                        <span class="d-inline-block position-relative">
                                            <i class="ri-link"></i>
                                            Attach file (Up to 10MB) <span>.pdf, .docx, .odt, .ods .txt (No file chosen)</span>
                                        </span>
                                        <input type="file">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <button type="submit" mat-flat-button color="primary" class="default-btn">
                                    Get Instant Quote <i class="flaticon-right-arrow-2"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>