<app-page-banner />

<!-- Job Details -->
<div class="job-details-area ptb-150">
    <div class="container">
        <div class="job-details-desc ml-auto mr-auto">
            <h3>
                Description & Requirements
            </h3>
            <p>
                Plaxa is a leading cybersecurity services provider dedicated to safeguarding organizations from cyber threats and ensuring the security of their digital assets. We are seeking a highly motivated and skilled Cybersecurity Analyst to join our team in protecting our clients from ever-evolving security risks. Over the past few years, Forward Networks has received tremendous industry recognition, including “Cool Vendor in Enterprise Networking” by Gartner, “Product of the Year” by Cloud Computing, “Enterprise Cloud Computing Software of the Year,” and has been named to Fortune’s 2022 “Best Workplaces in the Bay Area” list.
            </p>
            <p>
                Forward Networks is looking for a front-end engineer to join our UI team and help us build new features for our flagship web application. In this position you will have the opportunity to use the latest web technologies to build a beautiful, highly-interactive, single-page web application that’s currently used by some of the world’s largest companies to help manage their business-critical network infrastructure.
            </p>
            <h3>
                Requirements:
            </h3>
            <ul class="mb-0">
                <li>
                    5+ years of professional front-end engineering experience
                </li>
                <li>
                    Ability to write high-quality and unit-tested JavaScript
                </li>
                <li>
                    Comfortable debugging and profiling web apps with browser dev tools
                </li>
                <li>
                    Care about code quality, user experience, and visual design
                </li>
            </ul>
            <h3>
                Additional Experience:
            </h3>
            <ul>
                <li>
                    Mastery of CSS and HTML fundamentals
                </li>
                <li>
                    Familiarity with the latest CSS layout standards (flexbox, grid)
                </li>
                <li>
                    Comfortable working directly with Web APIs and the DOM
                </li>
                <li>
                    Experience building single-page applications using at least one of the major front-end frameworks (React, Angular, Vue)
                </li>
                <li>
                    A good eye for visual design; you get annoyed when things aren't pixel-perfect
                </li>
                <li>
                    Knowledge of patterns and best practices related to interaction design and information architecture
                </li>
            </ul>
            <h3 class="mb-0">
                Salary: <span class="text-primary">$180,000-$200,000</span>
            </h3>
        </div>
        <div class="application-form ml-auto mr-auto">
            <h3>
                Application Form
            </h3>
            <form>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="mb-25">
                            <label class="form-label">
                                First name
                            </label>
                            <mat-form-field>
                                <mat-label>Enter first name</mat-label>
                                <input matInput placeholder="Ex. Mateo">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="mb-25">
                            <label class="form-label">
                                Last name
                            </label>
                            <mat-form-field>
                                <mat-label>Enter last name</mat-label>
                                <input matInput placeholder="Ex. Statham">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="mb-25">
                            <label class="form-label">
                                Your email
                            </label>
                            <mat-form-field>
                                <mat-label>Enter your email</mat-label>
                                <input matInput placeholder="Ex. hello@plaxa.com">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="mb-25">
                            <label class="form-label">
                                Your phone number
                            </label>
                            <mat-form-field>
                                <mat-label>Enter your phone number</mat-label>
                                <input matInput placeholder="Ex. +123 45678 321">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="mb-25">
                            <label class="form-label">
                                Your company
                            </label>
                            <mat-form-field>
                                <mat-label>Enter your company</mat-label>
                                <input matInput placeholder="Ex. HiBootstrap">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="mb-25">
                            <label class="form-label">
                                Linkedin profile
                            </label>
                            <mat-form-field>
                                <mat-label>Enter your profile</mat-label>
                                <input matInput placeholder="Ex. https://www.linkedin.com/">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="mb-25">
                            <label class="form-label">
                                Current country/region
                            </label>
                            <mat-form-field>
                                <mat-label>Select</mat-label>
                                <mat-select>
                                    <mat-option value="1">Sweden</mat-option>
                                    <mat-option value="2">New Zealand</mat-option>
                                    <mat-option value="3">Switzerland</mat-option>
                                    <mat-option value="4">United States of America</mat-option>
                                    <mat-option value="5">Germany</mat-option>
                                    <mat-option value="6">Canada</mat-option>
                                    <mat-option value="7">Netherlands</mat-option>
                                    <mat-option value="8">Japan</mat-option>
                                    <mat-option value="9">United Kingdom</mat-option>
                                    <mat-option value="10">Australia</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="mb-25">
                            <label class="form-label">
                                Resume
                            </label>
                            <input type="file">
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="mb-25">
                            <label class="form-label">
                                Cover Letter
                            </label>
                            <input type="file">
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <button type="submit" mat-flat-button color="primary" class="default-btn">
                            Submit Your Application <i class="flaticon-right-arrow-2"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>