<div class="error-area position-relative z-1 ptb-150">
    <div class="container">
        <div class="error-content text-center">
            <img src="assets/images/not-found.png" alt="not-found-image">
            <h3>
                Oops! That page can't be found
            </h3>
            <p class="ml-auto mr-auto">
                The page you are looking for might have been removed had its name changed or is temporarily unavailable.
            </p>
            <a routerLink="/" mat-flat-button color="primary" class="default-btn">
                Back To Home <i class="flaticon-right-arrow-2"></i>
            </a>
        </div>
    </div>
</div>