<div class="case-studies-area ptb-150">
    <div class="container">
        <div class="case-study-item bg-f7f1ff border-radius">
            <div class="row align-items-end">
                <div class="col-lg-6 col-md-12">
                    <div class="content">
                        <span class="sub-title fw-medium d-inline-block">
                            Case Studies 01
                        </span>
                        <h2>
                            <a routerLink="/case-study-details">
                                <span>Expert Elicitation</span> Global Survey
                            </a>
                        </h2>
                        <p>
                            Our mission is to deliver creative and innovative solutions that help businesses succeed in that fast-paced digital world. With over 10 years of experience, we have designed and developed award-winning platforms that have generated billions in revenue.
                        </p>
                        <div class="funfacts">
                            <div class="row">
                                <div class="col-lg-5 col-6 col-md-4">
                                    <div class="box">
                                        <h3>
                                            09k+
                                        </h3>
                                        <span class="d-block">
                                            QPS Performance
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-6 col-md-4">
                                    <div class="box">
                                        <h3>
                                            90+
                                        </h3>
                                        <span class="d-block">
                                            Cost Reduction
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="btn-box">
                        <a routerLink="/case-study-details" mat-flat-button color="primary" class="default-btn">
                            View Project Details <i class="flaticon-right-arrow-2"></i>
                        </a>
                    </div>
                    <div class="image position-relative">
                        <img src="assets/images/case-studies/case-study4.jpg" class="main-image" alt="case-study-image">
                        <img src="assets/images/case-studies/flash.svg" class="logo" alt="flash">
                    </div>
                </div>
            </div>
        </div>
        <div class="case-study-item bg-f7f1ff border-radius">
            <div class="row align-items-end">
                <div class="col-lg-6 col-md-12">
                    <div class="content">
                        <span class="sub-title fw-medium d-inline-block">
                            Case Studies 02
                        </span>
                        <h2>
                            <a routerLink="/case-study-details">
                                <span>E-commerce</span> Scraping
                            </a>
                        </h2>
                        <p>
                            Our mission is to deliver creative and innovative solutions that help businesses succeed in that fast-paced digital world. With over 10 years of experience, we have designed and developed award-winning platforms that have generated billions in revenue.
                        </p>
                        <div class="funfacts">
                            <div class="row">
                                <div class="col-lg-5 col-6 col-md-4">
                                    <div class="box">
                                        <h3>
                                            450+
                                        </h3>
                                        <span class="d-block">
                                            System Integrations
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-6 col-md-4">
                                    <div class="box">
                                        <h3>
                                            890h+
                                        </h3>
                                        <span class="d-block">
                                            Manual Work Reduced
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="btn-box">
                        <a routerLink="/case-study-details" mat-flat-button color="primary" class="default-btn">
                            View Project Details <i class="flaticon-right-arrow-2"></i>
                        </a>
                    </div>
                    <div class="image position-relative">
                        <img src="assets/images/case-studies/case-study5.jpg" class="main-image" alt="case-study-image">
                        <img src="assets/images/case-studies/exonmobil.svg" class="logo" alt="exonmobil">
                    </div>
                </div>
            </div>
        </div>
        <div class="case-study-item bg-f7f1ff border-radius">
            <div class="row align-items-end">
                <div class="col-lg-6 col-md-12">
                    <div class="content">
                        <span class="sub-title fw-medium d-inline-block">
                            Case Studies 03
                        </span>
                        <h2>
                            <a routerLink="/case-study-details">
                                <span>Supply Chain</span> Dashboard
                            </a>
                        </h2>
                        <p>
                            Our mission is to deliver creative and innovative solutions that help businesses succeed in that fast-paced digital world. With over 10 years of experience, we have designed and developed award-winning platforms that have generated billions in revenue.
                        </p>
                        <div class="funfacts">
                            <div class="row">
                                <div class="col-lg-5 col-6 col-md-4">
                                    <div class="box">
                                        <h3>
                                            2.9million+
                                        </h3>
                                        <span class="d-block">
                                            Shopify Stores
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-6 col-md-4">
                                    <div class="box">
                                        <h3>
                                            04million+
                                        </h3>
                                        <span class="d-block">
                                            Pages Processed Daily
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="btn-box">
                        <a routerLink="/case-study-details" mat-flat-button color="primary" class="default-btn">
                            View Project Details <i class="flaticon-right-arrow-2"></i>
                        </a>
                    </div>
                    <div class="image position-relative">
                        <img src="assets/images/case-studies/case-study6.jpg" class="main-image" alt="case-study-image">
                        <img src="assets/images/case-studies/hitech.svg" class="logo" alt="hitech">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>