<!-- Banner -->
<div
    class="banner-area"
    style="background-image: url(assets/images/banners/banner-bg2.jpg);"
>
    <div class="container">
        <div class="banner-content">
            <div
                class="video-btn"
                (click)="toggleClass()"
            >
                <i class="ri-play-fill"></i>
                <img src="assets/images/banners/circle-text.png" alt="circle-text-image">
            </div>
            <h1>
                <span>Crafting The</span> Future with AI & Blockchain
            </h1>
            <div class="btn-box d-sm-flex align-items-center">
                <a routerLink="/contact-us" mat-flat-button color="primary" class="default-btn">
                    Get Started Today! <i class="flaticon-right-arrow-2"></i>
                </a>
                <br>
                <a routerLink="/services" mat-button class="link-btn">
                    Our Services <i class="flaticon-right-arrow-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Video Popup -->
<div
    class="video-popup"
    [class.active]="classApplied"
>
    <div class="popup-dialog">
        <div class="popup-inner bg-white text-black border-radius">
            <div class="popup-header d-flex align-items-center justify-content-between">
                <h3 class="mb-0 lh-1">
                    How It Works
                </h3>
                <button
                    mat-button
                    (click)="toggleClass()"
                >
                    <i class="ri-close-fill"></i>
                </button>
            </div>
            <div class="popup-body">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/2hAtdfX4Ma0" title="Adobe vs Affinity | The Ultimate Guide" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>