<div class="how-it-works-area position-relative">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="how-it-works-section-title bg-f7f1ff">
                    <div class="content">
                        <span class="sub-title fw-medium d-inline-block">
                            How It Works
                        </span>
                        <h2>
                            <span>How Plaxa</span> Working For Your Solutions
                        </h2>
                        <p>
                            Our mission is to deliver creative and innovative solutions that help businesses succeed in fast fast-paced digital world. With over 10 years of experience.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="how-it-works-content">
                    <div class="item">
                        <h3>
                            <span>01.</span>
                            Free Consultation
                        </h3>
                        <p>
                            It's a good time to learn more about each other, share values, and discuss your project in detail. We will advise you on a solution and try to help to understand if we are a perfect match for you.
                        </p>
                    </div>
                    <div class="item">
                        <h3>
                            <span>02.</span>
                            Discovery & Feasibility Analysis
                        </h3>
                        <p>
                            One of our core values is flexibility, hence we work with either one-page high-level requirements or with a full pack of tech docs. At this stage, we are gathering requirements to ensure that we understand the full scope of the project.
                        </p>
                    </div>
                    <div class="item">
                        <h3>
                            <span>03.</span>
                            Solution Development
                        </h3>
                        <p>
                            Next, we are developing high-load data-driven solutions applying over 15 years of expertise in custom web product development, data science, and significant industry knowledge.
                        </p>
                    </div>
                    <div class="item">
                        <h3>
                            <span>04.</span>
                            Quality Assurance & Delivery
                        </h3>
                        <p>
                            We deliver solutions to the client. While developing the data-driven solutions, we provide ongoing results so you can always see where we are and provide us with feedback. By the way, a high level of communication is also our core value.
                        </p>
                    </div>
                    <div class="item">
                        <h3>
                            <span>05.</span>
                            Continuous improvement
                        </h3>
                        <p>
                            Our goal is to build long-term relations, so we provide guarantees and support agreements. What is more, we are always happy to assist with further developments, 99% of our clients return to us with new projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>